<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>

<!--/*/ <th:block th:include="fragments/bootstrap :: head"></th:block> /*/-->

<link th:href="@{css/login.css}" rel="stylesheet">

<title>Caderneta</title>

</head>
<body>
	<div class="container" style="background-color: white;width: auto;">
	
		<form class="form" th:action="@{/login}" method="POST" th:object=${usuario} >
		
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Email: </label> 
					<input type="email" class="form-control"
					id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe seu e-mail" required autofocus th:field="*{email}" > 
			</div>
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Senha:</label>
				<input type="password" class="form-control"
					id="exampleInputPassword1" placeholder="Senha" required th:field="*{senha}">
			</div>
			<div class="mb-3 form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">Lembrar</label>
			</div>
			<button type="submit" class="btn btn-primary">Entrar</button>
		</form>
	</div>
</body>
</html>