<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org"
	xmlns:p="http://primefaces.org/ui">
<head>

<!--/*/ <th:block th:include="fragments/bootstrap :: head"></th:block> /*/-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<title>Caderneta - Relatório Estudantes</title>
</head>

<body style="background-color: #efefef">
	<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->

	<div class="container" style="background-color: white; width: auto; margin-top:20px;">


		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nome</th>
					<th scope="col">Data de Nascimento</th>
					<th scope="col"></th>
					<th scope="col">Média</th>
					<th scope="col">Final</th>
					<th scope="col">Situação</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="estudante : ${estudantes}">
					<th scope="row" th:text="${estudante.id}"></th>
					<td th:text="${estudante.nome}"></td>
					<td th:text="${#dates.format(estudante.dataNasc, 'dd/MM/yyyy')}"></td>
					<td> 	
							<a class="btn"
						th:href="@{/estudantes/{id}/delete(id=${estudante.id})}"> <i
							class="large material-icons" style="color: red">delete</i></a> 
							
							<a
						class="btn"
						th:href="@{/estudantes/editar/{id}(id=${estudante.id})}"> <i
							class="large material-icons" style="color: #3092cf">create</i></a></a></td>
					<!-- <td th:text="${estudante}"></td>
				<td th:text="${estudante}"></td>
				<td th:text="${estudante}"></td> -->
				</tr>

			</tbody>

		</table>
	</div>
</body>
</html>